.webtoon-page {
    margin-top: 114px;
}

.webtoon-page-tab-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.webtoon-page-tab-btn>button {
    border: 1px solid #eeeeee;
    background: none;
    padding: 5px 15px;
    border-radius: 50px;
    box-sizing: border-box;
}

.webtoon-page-tab-btn>button:hover {
    background: #22c55e;
    border-color: #22c55e;
    color: #ffffff;
}