.user-collection-add-page {
    margin-top: 114px;
    max-width: 700px;
}

.user-collection-add-page-wrap>h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.user-collection-add-btn-box {
    text-align: right;
    margin-bottom: 20px;
}

.user-collection-add-btn {
    border: 1px solid #d9d9d9;
    background: none;
    color: #888888;
    padding: 4px 8px;
    font-size: 0.9rem;
    border-radius: 4px;
    font-weight: 500;
}

.user-collection-add-form {
    width: 100%;
    font-size: 0.9rem;
}

.user-collection-add-title {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.user-collection-add-title:focus {
    outline: none;
}

.user-collection-add-text {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    margin-bottom: 20px;
    resize: none;
}

.user-collection-add-text:focus {
    outline: none;
}

.user-collection-add-image-wrap {
    width: 100%;
}

.user-collection-add-image-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.user-collection-add-image-title>p {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

.user-collection-add-image-title>button {
    border: none;
    background: none;
    font-size: 0.9rem;
    color: #22c55e;
}

.user-collection-add-image-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 10px;
    grid-auto-rows: 190px;
}

.user-collection-add-image-box {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* 세로 배치 */
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.user-collection-add-image-btn {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    border: none;
    flex: 1;
}

.user-collection-add-image-box>p {
    margin: 0;
    opacity: 0;
    pointer-events: none;
}

.user-collection-add-image-btn>i {
    font-size: 2rem;
    color: #888888;
}

.user-collection-add-image-btn>p {
    font-size: 0.8rem;
    margin-bottom: 0;
    color: #888888;
    font-weight: 600;
}

.user-collection-add-image-map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.user-collection-add-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* 세로 배치 */
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.user-collection-add-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.user-collection-add-image>p {
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.add-image-input {
    position: absolute !important;
    top: -10px;
    left: 15px;
    z-index: 10;
    margin: 0;
    width: 20px;
    height: 20px;
}

/*컬렉션 이미지 추가 모달창*/
.collection-add-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.collection-add-modal-content {
    position: relative;
    border-radius: 8px;
    width: 350px;
    height: 70vh;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.collection-add-modal-close-button {
    border: none;
    background: none;
    color: #22C55E;
    padding: 10px 20px;
}

.collection-add-modal-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.collection-add-modal-content-top>p {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

.collection-add-modal-content-btn {
    border: none;
    background: none;
    color: #888888;
}

.collection-add-modal-content-btn.has-items {
    color: #22c55e;
}

.collection-add-modal-content-middle {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 20px;
}

.collection-add-modal-search-bar {
    display: flex;
    align-items: center;
    background-color: #eee;
    width: 100%;
    border-radius: 8px;
    gap: 10px;
    padding: 10px ;
}

.collection-add-modal-search-input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 1rem;
}

.collection-add-modal-search-input::placeholder {
    color: #888888;
}

.collection-add-modal-search-button {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: #888;
}

.collection-add-modal-content-bottom {
    padding: 10px 20px;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.collection-add-modal-search-results {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-check-input[type=checkbox] {
    border-radius: 50% !important;
}

.form-check-input:checked {
    background-color: #22c55e;
    border-color: #22c55e;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: #eeeeee;
}

.collection-add-modal-search-results-img {
    width: 70px;
    height: auto;
    border-radius: 4px;
}

.collection-add-modal-search-results-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.collection-add-modal-search-results-info>p {
    margin: 0;
}

.collection-add-modal-search-results-info>p>span {
    font-size: 0.9rem;
    color: #888888;
}

