.book-page {
    margin-top: 114px;
}

.book-page-tab-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.book-page-tab-btn>button {
    border: 1px solid #eeeeee;
    background: none;
    padding: 5px 15px;
    border-radius: 50px;
    box-sizing: border-box;
}

.book-page-tab-btn>button:hover {
    background: #22c55e;
    border-color: #22c55e;
    color: #ffffff;
}

.book-page-tab-btn-click {
    background: #22c55e !important;
    border: 0 !important;
    color: #ffffff;
}

.book-page-tab-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.book-content-card-poster {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.book-content-card-poster>img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}

.book-content-card>p .bi {
    vertical-align: 0;
}

.book-content-card>p {
    margin-bottom: 0;
}

.book-content-card-title {
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.book-content-card-info>span {
    font-size: 0.8rem;
    font-weight: 500;
    color: #555555;
}

.book-content-card-avg {
    font-size: 0.8rem;
    color: #22c55e;
}

.book-page-tab-more-btn {
    margin: 20px 0;
    text-align: center;
}

.book-page-tab-more-btn>button {
    border: 1px solid #888888;
    background: none;
    color: #555555;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.book-page-tab-more-btn>button:hover {
    background: #d9d9d9;
}

/*태블릿 사이즈*/
@media (max-width: 768px) {
    .book-page {
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .book-page .container {
        max-width: 95%;
    }

    .book-page-tab-content {
        margin-top: 20px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .book-page-tab-more-btn {
        margin-bottom: 0;
    }

    .book-page-tab-more-btn>button:hover {
        background: none;
    }
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .book-page {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .book-page-tab-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}