.notification-page {
    margin-top: 114px;
    width: 100%;
}

.notification-page-wrap {
    max-width: 700px;
}

.notification-page-wrap>h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.notification-tab-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #eeeeee;
}

.notification-tab-title>div {
    width: 100%;
    cursor: pointer;
    color: #888888;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.notification-tab-btn {
    flex: 1;
    text-align: center;
    cursor: pointer;
    color: #888888;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px 0;
}

.notification-tab-btn.active {
    color: black;
}

.notification-tab-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #555555;
    transition: transform 0.3s ease, width 0.3s ease;
}

.notification-tab-content-wrap {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.notification-tab-content-wrap:last-of-type {
    border-bottom: none;
}

.notification-tab-content-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.notification-tab-content-profile>a {
    width: 100%;
    height: 100%;
}

.notification-tab-content-profile>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.notification-tab-content-title{
    width: 100%;
}

.notification-tab-content-title>a{
    display: block;
    width: 100%;
}

.notification-tab-content-title>a>p{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0;
}

.notification-tab-content-title>a>div{
    font-size: 0.7rem;
    color: #888888;
}

.notification-tab-content-btn {
    text-align: center;
    margin: 20px 0;
}

.notification-tab-content-btn>button {
    border: 1px solid #888888;
    background: none;
    color: #555555;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.notification-tab-content-btn>button:hover {
    background: #d9d9d9;
}