<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainlayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main layout:fragment="content">
<!--    <h1>Welcome to the Dashboard</h1>-->
<!--    <p>This is your main content area.</p>-->

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <div class="card-header"><h2>콘텐츠 상세보기</h2></div>
                <div class="card-body">
                    <!--controller에 model의 이름과 DTO변수명-->
                    <!--model.addAttribute("contentDTO",-->
                    <p>콘텐츠 ID : <span th:text="${contentDTO.id}"></span></p>
                    <p>콘텐츠 제목 : <span th:text="${contentDTO.title}"></span></p>
                    <p>콘텐츠 타입 : <span th:text="${contentDTO.contentType.getDescription()}"></span></p>
                    <p>출시 날짜   : <span th:text="${contentDTO.releaseDate}"></span></p>
                    <p>포스터 url  : <span th:text="${contentDTO.poster}"></span></p>
                    <p>국가   : <span th:text="${contentDTO.nation}"></span></p>
                    <p>설명 : <span th:text="${contentDTO.description}"></span></p>
                    <p>영화 런링타임: <span th:text="${contentDTO.duration}"></span></p>
                    <p>이용가 제한 : <span th:text="${contentDTO.age}"></span></p>
                    <p>영화감독이름: <span th:text="${contentDTO.creatorName}"></span></p>
                    <p>채널이름  : <span th:text="${contentDTO.channelName.getDescription()}"></span></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/content/list}" class="btn btn-primary">목록으로 이동</a>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

</main>
</body>
</html>