<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--부트스트랩 아이콘-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body><!--본문-->
<!--전체 내용을 보는 페이지(일반적으로 표(카드)로 구현-->
<div class="container mt-3">
    <h2>콘텐츠  목록</h2>
    <!--삽입버튼 추가(Controller로 지시하는 태그는 a, button)-->
    <!--부트스트랩5 클래스구조(모양 색상(글자) 색상(배경) 세부조정)-->
    <a th:href="@{/content/new}" type="button" class="btn btn-primary"><i class="bi bi-trash"></i> 등록</a>

    <p>현재 등록한 콘텐츠 목록입니다:</p>

    <table class="table table-hover">
        <thead>
        <tr><!--표 제목(필요하면 추가, 필요없으면 제거)-->
            <th>콘텐츠 Id</th>
            <th>콘텐츠제목</th>
            <th>콘텐츠타입</th>
            <th>출시날짜</th>
            <th>포스터Url</th>
            <th>국가</th>
            <th>설명</th>
            <th>영화시간</th>
            <th>이용가제한</th>
            <th>감독이름</th>
            <th>채널이름</th>
            <th>작업선택</th>
        </tr>
        </thead>
        <tbody>
        <!--Controller에 return "html파일명"이 동일한 곳에서 데이터명 이름을 확인-->
        <!--model.addAttribute("memberDTOS"-->
        <!-- data. .뒤에는 DTO에 변수명으로 -->
        <tr th:each="data:${contentDTOS}" ><!--th개수=td개수 똑같이, 아래쪽 tr은 삭제-->
            <td th:text="${data.id}">99999</td>
            <td><!--타이틀을 클릭하면 상세보기를 이동한다.-->
                <a th:href="@{/content/view(id=${data.id})}" th:text="${data.title}">영화</a>
            </td>
            <td th:text="${data.contentType}">타입</td>
            <td th:text="${data.releaseDate}">20025-08-25</td>
            <td th:text="${data.poster}">포스터</td>
            <td th:text="${data.nation}">한국</td>
            <td th:text="${data.description}">흥미진진</td>
            <td th:text="${data.duration}">2시간30분</td>
            <td th:text="${data.age}">19세이상가</td>
            <td th:text="${data.creatorName}">봉준호</td>
            <td th:text="${data.channelName}">웹튠</td>
            <td></td>
            <td>
                <!--th:href에서 맵핑에 변수를 전달하려면 (변수명=값)-->
                <!--Controller public String updateHtml(Integer id, 참고-->
                <!--수정을 버튼을 누르면 수정페이지로 이동, 삭제를 버튼을 누르면 삭제처리로 이동-->
                <a th:href="@{/content/edit(id=${data.id})}" type="button"
                   class="btn btn-primary">수정</a>
                <a th:href="@{/content/delete(id=${data.id})}" type="button"
                   class="btn btn-primary">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--표 밑에 추가-->
    <div class="d-flex justify-content-center mt-3" th:if="${pageInfoDTO.start > 0}">
        <!-- 이전 버튼 -->
        <a class="page-link" th:classappend="${pageInfoDTO.current == 1} ? ' disabled' : ''"
           th:href="@{'?page='+${pageInfoDTO.prev}}">
            <span>이전</span>
        </a>

        <!-- 페이지 번호 리스트 -->
        <!-- 검색변수-->
        <ul class="mb-0 pagination">
            <li class="page-item"
                th:classappend="${pageNum == pageInfoDTO.current} ? ' active'"
                th:each="pageNum : ${#numbers.sequence(pageInfoDTO.start, pageInfoDTO.end)}">
                <a class="page-link"
<!--                   th:href="@{'?page='+${pageNum}+'&keyword='+${keyword}}"-->
                   th:text="${pageNum}"></a>
            </li>
        </ul>

        <!-- 다음 버튼 -->
        <a class="page-link pe-0" th:classappend="${pageInfoDTO.current == pageInfoDTO.last} ? ' disabled' : ''"
           th:href="@{'?page='+${pageInfoDTO.next}}">
        <!--           th:href="@{'?page='+${pageInfoDTO.next}+'&keyword='+${keyword}}">-->
            <span >다음</span>
        </a>
    </div>

</div>

</body>
</html>