.comment-page {
    margin-top: 114px;
    max-width: 800px;
}

.comment-page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.comment-page-select-wrap {
    display: flex;
    justify-content: end;
}

.comment-page-select {
    width: 300px;
    border-radius: 0;
    padding: 10px 20px;
    border-color: #eeeeee;
    margin: 20px 0;
}

.form-select:focus,
.form-select:active,
.form-select:focus-visible {
    background-color: transparent !important; /* λ°°κ²½ μ κ±° */
    box-shadow: none !important; /* κΈ°λ³Έ focus κ·Έλ¦Όμ μ κ±° */
    outline: none !important; /* outline μ κ±° */
    border-color: #eeeeee;
}

.comment-page-content>* {
    margin: 20px 0;
}

/* π“± λ°μ‘ν• μ¤νƒ€μΌ */

/*λ…ΈνΈλ¶ μ‚¬μ΄μ¦*/
@media (max-width: 1024px) {
}

/*νƒλΈ”λ¦Ώ μ‚¬μ΄μ¦*/
@media (max-width: 768px) {
}

/*λ¨λ°”μΌ μ‚¬μ΄μ¦*/
@media (max-width: 480px) {
}