.comment-page {
    margin-top: 114px;
    max-width: 800px;
    height: 100%;
}

.comment-page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.comment-page-select-wrap {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.comment-page-select-trigger>div {
    width: 15px;
}

.comment-page-select-trigger>div>img {
    display: block;
    width: 100%;
}

/*태블릿 사이즈*/
@media (max-width: 768px) {
    .comment-page {
        height: 100%;
        margin-top: 24px;
        margin-bottom: 80px;
        max-width: 800px;
    }
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .comment-page {
        margin-top: 24px;
        margin-bottom: 50px;
        max-width: 800px;
    }
}