.comment-page {
    margin-top: 114px;
    max-width: 800px;
}

.comment-page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.comment-page-select-wrap {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.comment-page-select-trigger>div {
    width: 15px;
}

.comment-page-select-trigger>div>img {
    display: block;
    width: 100%;
}

/* 📱 반응형 스타일 */

/*노트북 사이즈*/
@media (max-width: 1024px) {
}

/*태블릿 사이즈*/
@media (max-width: 768px) {
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .comment-page {
        margin-top: 84px;
        max-width: 800px;
    }
}