.comment-page {
    margin-top: 114px;
    max-width: 800px;
}

.comment-page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.comment-page-select-wrap {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.comment-page-select-trigger>div {
    width: 15px;
}

.comment-page-select-trigger>div>img {
    display: block;
    width: 100%;
}

/* π“± λ°μ‘ν• μ¤νƒ€μΌ */

/*λ…ΈνΈλ¶ μ‚¬μ΄μ¦*/
@media (max-width: 1024px) {
}

/*νƒλΈ”λ¦Ώ μ‚¬μ΄μ¦*/
@media (max-width: 768px) {
}

/*λ¨λ°”μΌ μ‚¬μ΄μ¦*/
@media (max-width: 480px) {
    .comment-page {
        margin-top: 84px;
        max-width: 800px;
    }
}