.series-page {
    margin-top: 114px;
}

.series-page-tab-btn {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 10px;
}

.series-page-tab-btn-wrap>div:nth-of-type(2) {
    margin-bottom: 0;
}

.series-page-tab-btn>button {
    border: 1px solid #eeeeee;
    background: none;
    padding: 5px 15px;
    border-radius: 50px;
    box-sizing: border-box;
}

.series-page-tab-btn>button:hover {
    background: #22c55e;
    border-color: #22c55e;
    color: #ffffff;
}


.series-page-tab-btn-click {
    background: #22c55e !important;
    border: 0 !important;
    color: #ffffff;
}

.series-page-tab-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 4등분 고정 */
    gap: 15px;
    margin-top: 30px;
}

.series-content-card-poster {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.series-content-card-poster>img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}

.series-content-card>p .bi {
    vertical-align: 0;
}

.series-content-card>p {
    margin-bottom: 0;
}

.series-content-card-title {
    font-weight: 700;
    width: 170px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.series-content-card-info>span {
    font-size: 0.8rem;
    font-weight: 500;
    color: #555555;
}

.series-content-card-avg {
    font-size: 0.8rem;
    color: #22c55e;
}

.series-page-tab-more-btn {
    margin: 20px 0;
    text-align: center;
}

.series-page-tab-more-btn>button {
    border: 1px solid #888888;
    background: none;
    color: #555555;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.series-page-tab-more-btn>button:hover {
    background: #d9d9d9;
}