/*컨텐츠 개별 스타일*/
.content-each{
    width: 100%;
    height: 100%;
}

.content-each-post {
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #eeeeee;
}

.content-each-post>a {
    display: block;
    width: 100%;
    height: 100%;
}

.content-each-post>a>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-each-info-title {
    margin-bottom: 3px;
    font-size: 0.9rem;
    color: #555555;
    font-weight: 600;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-each-rating-text {
    font-size: 0.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0;
}

.content-each-rating-text-user {
    color: #FACC15;
}

.content-each-rating-text-avg {
    color: #888888;
}

.content-each-info>p:nth-of-type(2)>i {
    font-size: 0.6rem;
}

.content-each-info>p:nth-of-type(2)>i::after {
    line-height: 1;
    content: none;
}

.content-each-content-type-none {
    display: none;
}

.content-each-content-type {
    font-size: 0.7rem;
    color: #555555;
}

/*유저컬렉션 디테일페이지안에서 컨텐츠 스타일*/
.user-collection-detail-content-list .content-each-info-title {
    margin: 0 auto;
    width: 120px;
}

.user-collection-detail-content-list .content-each-rating-text {
    justify-content: center;
}

.user-collection-detail-content-list .content-each-rating-text-avg {
    color: #22c55e;
}

/*유저컬렉션 디테일페이지안에서 컨텐츠 스타일 끝*/

/*모바일 사이즈*/
@media (max-width: 480px) {
    .content-each-info-title {
        width: 80px;
    }

}
