.user-content-page {
    margin-top: 114px;
    width: 100%;
}

.user-content-page-wrap>h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.user-content-page-content {
    width: 100%;
}

.user-content-page-content>div {
    width: 100%;
}

.user-content-page-content>div>a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    padding: 15px 0;
}

.user-content-page-content>div>a>p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.1rem;
    color: #555555;
}

.user-content-page-content>div>a>span {
    font-size: 0.9rem;
    color: #888888;
}


/*태블릿 사이즈*/
@media (max-width: 768px) {
    .user-content-page {
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .user-content-page .container {
        max-width: 95% !important;
    }
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .user-content-page {
        margin-top: 20px;
    }
}