/* 헤더 스타일 */
.header {
    width: 100%;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    padding: 15px 0 ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header_width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-transparent {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    color: #aaaaaa;
}

.header-transparent .nav a:hover {
    color: white;
}

.header-scrolled {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: #888888;
}

.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo {
    max-width: 150px;
}

.logo img {
    width: 100%;
}

.nav {
    display: flex;
    gap: 40px;
    font-size: 1rem;
    font-weight: 600;
}

.nav a:hover {
    color: #000;
}

.nav a.active {
    color: #000;
}

.dropdown {
    display: none;
}

.search-bar {
    background-color: #eee;
    width: 250px;
    padding: 10px;
}

.search-bar>form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 0.9rem;
}

.search-input::placeholder {
    color: rgba(136,136,136,0.5);
}

.search-button {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: #888;
    flex-shrink: 0;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #aaaaaa;
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
}

.user-menu>a:nth-of-type(1) {
    position: relative;
}

.pc-red-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FACC15;
    display: block;
    position: absolute;
    top:-2px;
    right: -6px;
}

.user-menu button {
    color:#aaaaaa;
    border: none;
    background: transparent;
}

.user-menu button:hover {
    color: #555555;
}

.user-menu a {
    color: #aaaaaa;
    font-size: 0.8rem;
    font-weight: 600;
}

.user-menu a:hover {
    color: #555555;
}

.user-menu>a>i {
    vertical-align: unset;
    font-size: 1rem;
}

/*로그인 모달창 스타일*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;      /* 수직 중앙 */
    justify-content: center;  /* 수평 중앙 */
    z-index: 1000;
}

.login-modal {
    background: #ffffff;
    padding: 40px 20px;
    width: 360px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

.login-modal>h1 {
    margin-bottom: 20px;
}

.login-modal>h1>img {
    display: inline-block;
}

.login-modal>h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-modal input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border:none;
    border-radius: 4px;
    background-color: #eee;
}

.login-modal input:focus {
    outline: none;
    box-shadow: none;
    border: none; /* ← 이건 선택사항 (기본 border도 없애려면) */
}

.login-modal input::placeholder {
    color: rgba(136,136,136,0.8);
    font-size: 1rem;
    font-weight: 500;
}

.login-submit {
    width: 100%;
    margin: 30px 0;
    padding: 8px;
    background: #22C55E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-text-top {
    color: #22C55E;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.login-text-bottom {
    color: #9d9d9d;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0;
}

.login-text-bottom span {
    color: #22C55E;
    margin-left: 15px;
    cursor: pointer;
}

.login-social-border {
    display: flex;
    align-items: center;
    text-align: center;
    color: #9d9d9d;
    margin: 15px 0;
}

.login-social-border::before,
.login-social-border::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #9d9d9d;
}

.login-social-border:not(:empty)::before {
    margin-right: 10px;
}
.login-social-border:not(:empty)::after {
    margin-left: 10px;
}

.login-social-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 50%;

}

.login-social-logo>a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login-social-logo>a>img {
    width: 100%;
    border-radius: 50%;
}

/*로그인실패 모달창 스타일*/
.modal-content {
    background: white;
    padding: 30px 20px 20px 20px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    border-radius: 4px;
}

.modal-content p {
    font-size: 0.9rem;
    margin-bottom:30px;
}

.modal-content button {
    border-radius: 4px;
    margin: 0 auto;
    font-size: 0.8rem;
    border: none;
    padding: 5px 20px;
    background-color: #888;
    color: #fff;
}

/*비밀번호 찾기 모달창 스타일*/
.reset-modal {
    background: white;
    padding: 50px 20px 30px 20px;
    width: 360px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2001;
}

.reset-modal h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.reset-modal div {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin-bottom: 30px;
}

.reset-modal p:nth-of-type(1) {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.reset-modal form input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    border:none;
    border-radius: 4px;
    background-color: #eee;
}

.reset-modal p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #888;
}

.reset-modal form input:focus {
    outline: none;
    box-shadow: none;
    border: none; /* ← 이건 선택사항 (기본 border도 없애려면) */
}

.reset-modal form input::placeholder {
    color: rgba(136,136,136,0.8);
    font-size: 1rem;
    font-weight: 500;
}

.reset-submit {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    background: #888;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-button {
    background-color: transparent;
    border: none;
    color: #22C55E;
    position: absolute;
    top: 18px;
}

.mobile-header {
    display: none;
}

/*모바일 검색창 모달*/
.mobile-search-modal {
    background: white;
    padding:20px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    z-index: 2001;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-search-bar {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.mobile-search-bar>form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-search-input {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 1rem;
}

.mobile-search-input::placeholder {
    color: rgba(136,136,136,0.5);
}

.mobile-search-button {
    border: none;
    background: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: #888;
    flex-shrink: 0;
}

.mobile-search-modal-btn {
    border: none;
    background: none;
    flex-shrink: 0;
    font-size: 1.1rem;
    color: #22c55e;
}

/* 📱 반응형 스타일 */

/*노트북 사이즈*/
@media (max-width: 1024px) {
    /*헤더 스타일*/
    .header {
        width: 100%;
    }

    .header_inner {
        width: 100%;
    }

    .nav {
        gap: 20px;
        font-size: 0.95rem;
    }

    .search-bar {
        width: 200px;
    }

}

/*태블릿 사이즈*/
@media (max-width: 768px) {
    /*헤더 스타일*/
    .header {
        /*width: 100%;*/
        display: none;
    }

    .mobile-header {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        background-color: #ffffff;
        padding: 10px 20px;
        border-top: 1px solid #888888;
        box-sizing: border-box;
    }

    .mobile-header-inner {
        width: 100%;
    }

    .mobile-header-menu {
         display: flex;
         justify-content: start;
         gap: 20px;
         align-items: center;
         margin: 0;
         padding: 0;
     }

    .mobile-header-top-menu>li>a {
        font-size: 1.1rem;
        font-weight: bold;
        color: #555555;
    }

    .mobile-header-menu-login {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .mobile-header-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    .mobile-header-menu-red-dot {
        position: relative;
    }

    .mobile-header-menu-list>div {
        width: 23px;
        height: 23px;
    }

    .mobile-header-menu-list>div>a {
        width: 100%;
        display: block;
    }

    .red-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #FACC15;
        display: block;
        position: absolute;
        top: -2px;
        right: -2px;
    }

    .mobile-header-menu {
        display: flex;
        justify-content: space-around;
    }

    .mobile-header-menu-list>div>button {
        border: none;
        background: none;
    }

    .mobile-menu-name {
        font-size: 0.7rem;
        margin-bottom: 0;
        font-weight: 500;
        color: #888888;
    }

    .mobile-menu-icon {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .mobile-header-menu-tab-bar {
        position: absolute;
        bottom: 63px;
        left: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.5s ease, opacity 0.2s ease;
    }

    .mobile-header-menu-tab-bar.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-header-menu-tab-bar.close {
        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;
    }

    .mobile-header-menu-tab-bar-menu {
        display: flex;
        justify-content: space-around;
        padding: 15px 20px;
        margin: 0;
        list-style: none;
    }

    .mobile-header-menu-tab-bar-menu li {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .mobile-header-menu-tab-bar-menu li::after {
        content: "";
        width: 1px;
        height: 15px;
        background-color: #eeeeee;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .mobile-header-menu-tab-bar-menu li:last-child::after {
        display: none;
    }

    .mobile-header-menu-tab-bar-menu li a {
        text-decoration: none;
        color: #555555;
        font-weight: 700;
    }
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .mobile-header {
    }
}