.user-collection-detail-page {
    margin-top: 114px;
    max-width: 650px;
    margin-bottom: 50px;
}

.user-collection-detail-page-wrap {
    border: 1px solid #eeeeee;
    border-radius: 8px;
    overflow: hidden;
}

.user-collection-detail-bg {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.user-collection-detail-bg-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3) 25%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.7) 100%
    );
}

.user-collection-detail-stacked-poster-wrapper {
    position: absolute;
    width: 40%;
    height: 100%;
}

.user-collection-detail-stacked-poster-wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-collection-detail-profile {
    position: relative;
    color: #ffffff;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    margin-top: 240px;
}

.user-collection-detail-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-collection-detail-profile-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-collection-detail-profile>p {
    margin-bottom: 0;
    font-size: 0.9rem;
}

.user-collection-detail-edit-box {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 15;
    display: flex;
    gap: 2px;
}

.user-collection-detail-edit-box>div {
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 8px;
}

.user-collection-detail-edit-box>div>button, .user-collection-detail-edit-box>div>a {
    background: none;
    width: 100%;
    border: none;
    padding: 10px 15px;
    text-align: left;
    color: #555555;
    font-weight: 600;
}

.user-collection-detail-edit-btn {

    background: rgba(0,0,0,0.8);
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.user-collection-detail-edit-btn>i {
    color: #ffffff;
    vertical-align: 0;
    line-height: 1;
    font-size: 1.2rem;
}

.user-collection-detail-info {
    padding: 10px 20px;
}

.user-collection-detail-info>h1 {
    font-size: 1.1rem;
    font-weight: 600;
}

.user-collection-detail-info>p {
    margin: 0;
    color: #555555;
    font-size: 0.9rem;
}

.user-collection-detail-info>p:nth-of-type(1) {
    margin-bottom: 20px;
}

.user-collection-detail-info>p>span {
    color: #9d9d9d;
    font-size: 0.8rem;
    padding-right: 10px;
    position: relative;
}

.user-collection-detail-info>p>span:last-child {
    padding-right: 0;
}

.user-collection-detail-info>p>span::after {
    content: "";
    width: 1px;
    height: 9px;
    background: #d9d9d9;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
}

.user-collection-detail-info>p>span:last-child::after {
    display: none;
}

.user-collection-detail-btn-list {
    width: 100%;
    margin-bottom: 15px;
    padding: 0 20px;
}

.user-collection-detail-btn-list-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.user-collection-detail-btn-list-content {
    width: 100%;
}

.user-collection-detail-btn-list-content>button {
    width: 100%;
    border: none;
    background: none;
    color: #555555;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 8px 5px;
    position: relative;
}

.user-collection-detail-btn-list-content>button:hover {
    background: #d9d9d9;
    border-radius: 4px;
    padding: 8px 5px;
}

.user-collection-detail-btn-list-content>button::before {
    content: "";
    width: 1px;
    height: 15px;
    background: #eeeeee;
    position: absolute;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
}

.user-collection-detail-btn-list-content:last-child>button::before {
    display: none;
}

.user-collection-detail-btn-list-content>button>span {
    font-size: 0.9rem;
    font-weight: 500;
}

.user-collection-detail-content {
    width: 100%;
    margin: 30px 0;
}

.user-collection-detail-content-wrap {
    padding: 0 20px;
}

.user-collection-detail-content-wrap>h1 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.user-collection-detail-content-wrap>h1>span {
    color: #22c55e;
    font-weight: 600;
}

.user-collection-detail-content-list {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.user-collection-detail-content-list-btn-box {
    text-align: center;
}

.user-collection-detail-content-list-btn {
    border: 1px solid #888888;
    background: none;
    color: #555555;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.user-collection-detail-content-list-btn:hover {
    background: #d9d9d9;
}

.user-collection-detail-reply {
    width: 100%;
    padding: 0 20px;
}

.user-collection-detail-reply-wrap {
    border-top: 1px solid #eeeeee;
    padding: 10px 0;
}

.user-collection-detail-reply-wrap>h1 {
    font-size: 1.1rem;
    font-weight: 600;
}

.user-collection-detail-reply-wrap>h1>span {
    font-size: 1rem;
    color: #888888;
    font-weight: 500;
}

.user-collection-detail-reply-content-wrap {
    padding: 15px 0;
}

.user-collection-detail-reply-content-list {
    margin: 10px 0;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
}

.user-collection-detail-reply-profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-collection-detail-reply-profile>div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.user-collection-detail-reply-profile>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.user-collection-detail-reply-profile>p {
    margin: 0;
    font-size: 0.7rem;
}

.user-collection-detail-reply-input {
    padding: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-collection-detail-reply-input>input {
    width: 100%;
    padding: 12px;
    border: none;
    background: #f6f6f6;
    border-radius: 4px;
    color: #555555;
    font-size: 0.9rem;
}

.user-collection-detail-reply-input>input:focus {
    outline: none;
}

.user-collection-detail-reply-input>button {
    width: max-content;
    white-space: nowrap;
    padding: 10px 15px;
    border: none;
    color: #22c55e;
    background: #e6f5eb;
    border-radius: 4px;
}

.user-collection-detail-reply-input>button:hover {
    background: #b7e8c7;
}

.user-collection-detail-reply-btn {
    text-align: center;
    margin: 20px 0;
}

.user-collection-detail-reply-btn>button {
    border: 1px solid #888888;
    background: none;
    color: #555555;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8rem;
}

.user-collection-detail-reply-btn>button:hover {
    background: #d9d9d9;
}

/*태블릿 사이즈*/
@media (max-width: 768px) {
    .user-collection-detail-page .container {
        max-width: 100%;
    }

    .user-collection-detail-page {
        margin-top: 50px;
        margin-bottom: 100px;
        width: 100%;
        padding: 0;
    }

    .user-collection-detail-btn-list-content>button:hover {
        background: none;
    }

    .user-collection-detail-content-list-btn:hover {
        background: none;
    }

    .user-collection-detail-reply-input>button:hover {
        background: #e6f5eb;
    }

    .user-collection-detail-reply-btn>button:hover {
        background: none;
    }
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .user-collection-detail-page {
        margin-top: 0;
        margin-bottom: 60px;
        width: 100%;
    }

    .user-collection-detail-page-wrap {
        border: 0;
        border-radius: 0;
    }

    .user-collection-detail-content-list {
        grid-template-columns: repeat(3, 1fr);
    }
}