.user-content-wish-page {
    margin-top: 114px;
}

.user-content-wish-page-wrap>h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.user-wish-page-select-box {
    width: 100%;
    display: flex;
    justify-content: right;
}

.user-wish-page-select {
    width: 300px;
    border-radius: 0;
    padding: 10px;
    border-color: #d9d9d9;
}

.user-wish-page-content-list-wrap>p {
    margin: 50px 0;
    color: #555555;
    text-align: center;
}

.user-wish-page-content-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.wish-page-content-list-btn {
    text-align: center;
    margin: 20px 0;
}

.wish-page-content-list-btn>button {
    border: 1px solid #888888;
    background: none;
    color: #555555;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.wish-page-content-list-btn>button:hover {
    background: #d9d9d9;
}

/*태블릿 사이즈*/
@media (max-width: 768px) {
    .user-content-wish-page {
        margin-top: 30px;
        margin-bottom: 80px;
    }

    .user-content-wish-page .container {
        max-width: 95% !important;
    }

    .user-wish-page-content-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .user-content-wish-page {
        margin-top: 20px;
    }

    .user-wish-page-content-list {
        grid-template-columns: repeat(4, 1fr);
    }

}
