.footer {
    width: 100%;
    margin-top: 50px;
    background-color: #222222;
    padding: 30px 0;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text>p {
    margin-bottom: 0;
    color: #aaaaaa;
    font-size: 0.8rem;
}

.footer-text>p:last-child {
    font-size: 0.9rem;
    margin-top: 5px;
}

.footer-logo {
    width: 100px;
}

.footer-logo>img {
    width: 100%;
}

/*태블릿 사이즈*/
@media (max-width: 768px) {
    .footer {
        display: none;
    }
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .footer {
        display: none;
    }
}