<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainlayout}">
<head>
    <meta charset="UTF-8">
    <title>인물 상세</title>
</head>
<body>
<div class="container mt-3">

        <main class="main-content">

            <h2>인물 상세</h2>
            <p><strong>이름:</strong> <span th:text="${personDTO.name}"></span></p>
            <p><strong>직업:</strong> <span th:text="${personDTO.job}"></span></p>
            <p><strong>프로필:</strong> <span th:text="${personDTO.description}"></span></p>

            <a th:href="@{/person/{id}update(id=${personDTO.id})}" class="btn btn-outline-primary btn-sm">수정</a>
            <a th:href="@{/person/{id}delete(id=${personDTO.id})}"
               onclick="return confirm('정말 삭제하시겠습니까?')" class="btn btn-danger btn-sm">삭제</a>
            <a th:href="@{/person/list}" class="btn btn-secondary">목록으로</a>
        </main>
    </div>
</main>
</body>
</html>
