<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainlayout}">
<head>
    <meta charset="UTF-8">
    <title>인물 등록</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container mt-3">

        <h2>새 인물 등록</h2>

        <form th:action="@{/person/register}" method="post" th:object="${personDTO}" enctype="multipart/form-data">

            <!-- 이름 -->
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="이름 입력" required>
            </div>

            <!-- 직업 -->
            <div class="mb-3">
                <label for="job" class="form-label">직업</label>
                <input type="text" th:field="*{job}" class="form-control" id="job" placeholder="직업 입력" required>
            </div>

            <!-- 프로필 -->
            <div class="mb-3">
                <label for="profile" class="form-label">프로필</label>
                <input type="text" th:field="*{profileImage}" class="form-control" id="profile" placeholder="프로필 입력" required>
            </div>

            <!-- 버튼 -->
            <div class="mt-3">
                <button type="submit" class="btn btn-outline-primary btn-sm">등록</button>
                <a th:href="@{/person/list}" class="btn btn-secondary btn-sm">취소</a>
            </div>
        </form>

    </div>
</main>
</body>
</html>
