<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainlayout}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>인물 수정</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container mt-3">


        <!-- 메인 -->
        <main class="main-content">
            <h2>인물 수정</h2>
            <form th:action="@{/person/{id}update(id=${personDTO.id})}" method="post">
                <input type="hidden" name="id" th:value="${personDTO.id}"/>
                <div>
                    <label>이름</label>
                    <input type="text" name="name" th:value="${personDTO.name}" required>
                </div>
                <div>
                    <label>직업</label>
                    <input type="text" name="job" th:value="${personDTO.job}" required>
                </div>
                <div>
                    <label>소개</label>
                    <textarea name="description" th:text="${personDTO.description}"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm">수정</button>
                <a th:href="@{/person/list}" class="btn btn-secondary">취소</a>
            </form>
        </main>
    </div>
</main>
</body>
</html>
