.search-content-detail-page {
    margin-top: 74px;
}

.search-content-detail-page-wrap {
    margin-top: 30px;
}

.search-content-detail-page-wrap>p {
    margin-bottom: 30px;
    color: #555555;
    font-weight: bold;
    font-size: 1.2rem;
}

.search-content-list-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.search-content-list {
    width: calc(100% / 2 - 15px);
}

.search-content-more-btn {
    text-align: center;
    margin-top: 30px;
}

.search-content-more-btn>button {
    border: 1px solid #888888;
    background: none;
    color: #555555;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .search-content-detail-page {
        margin-top: 50px;
    }

    .search-content-list {
        width: 100%;
    }
}