.user-content-rating-page {
    margin-top: 114px;
}

.user-content-rating-page-wrap>h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.rating-wrap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #eeeeee;
}

.rating-wrap-title>div {
    width: 100%;
    cursor: pointer;
    color: #888888;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.rating-page-tab-btn {
    flex: 1;
    text-align: center;
    cursor: pointer;
    color: #888888;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px 0;
}

.rating-page-tab-btn.active {
    color: black;
}

.rating-tab-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #555555;
    transition: transform 0.3s ease, width 0.3s ease;
}

.rating-page-tab1 {
    margin-top: 20px;
}

.user-rating-page-select-box {
    width: 100%;
    display: flex;
    justify-content: right;
}

.user-rating-page-select {
    width: 300px;
    border-radius: 0;
    padding: 10px;
    border-color: #d9d9d9;
}

.rating-page-content-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.rating-page-content-list-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.rating-page-content-list-btn>button {
    border: none;
    background: #d9d9d9;
    color: #888888;
    padding: 8px 20px;
    border-radius: 5px;
}

.empty-message {
    font-size: 0.9rem;
    margin: 50px 0;
    color: #555555;
    text-align: center;
}

.rating-page-tab2 {
    margin-top: 20px;
}

.rating-page-rating-list {
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
}

.rating-page-rating-list>p {
    font-weight: bold;
    font-size: 1.3rem;
    color: #555555;
    margin-bottom: 20px;
}

.rating-wrapper {
    position: relative;
}

.rating-prev, .rating-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    background: #f6f6f6;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    color: #555555 !important;
    padding: 4px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.rating-prev {
    left: -15px;
}

.rating-next {
    right: -15px;
}

.rating-items-content {
    width: calc(10% - 9px);
}

.rating-slide-image {
    width: 100%;
}

.rating-text {
    font-size: 0.9rem;
    font-weight: 500;
    color: #888888;
}
