/* 전체 레이아웃 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.Toastify__toast {
  padding: 8px 20px !important;
  min-height: 0 !important;
  background-color: #22C55E !important;
  color: #ffffff !important;
  margin-bottom: 0 !important;
}

.Toastify__close-button {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  right: 20px !important;
  color: white !important;
}

.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
  display: block;
}

.Toastify__close-button--light {
  opacity: 1 !important;
}