/* 전체 레이아웃 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* 헤더 스타일 */
.header {
  width: 100%;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
  padding: 15px 0 ;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header_width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-transparent {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  color: #cccccc;
}

.header-transparent .nav a:hover {
  color: white;
}

.header-scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: #888888;
}

.header_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.logo {
  max-width: 150px;
}

.logo img {
  width: 100%;
}

.nav {
  display: flex;
  gap: 40px;
  font-size: 1rem;
  font-weight: 600;
}

.nav a {
}

.nav a:hover {
  color: #000;
}

.nav a.active {
  color: #000;
}

.dropdown {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #eee;
  width: 250px;
  gap: 10px;
  padding: 10px ;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 0.9rem;
}

.search-input::placeholder {
  color: rgba(136,136,136,0.5);
}

.search-button {
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  color: #888;
}

.user-menu {
  display: flex;
  gap: 15px;
  color: #cccccc;
  font-size: 0.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.user-menu button {
  color:#cccccc;
  border: none;
  background: transparent;
}

.user-menu button:hover {
  color: #888;
}

.user-menu a {
  color: #cccccc;
  font-size: 0.8rem;
  font-weight: 600;
}

.user-menu a:hover {
  color: #888;
}

/*로그인 모달창 스타일*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;      /* 수직 중앙 */
  justify-content: center;  /* 수평 중앙 */
  z-index: 1000;
}

.login-modal {
  background: white;
  padding: 40px 20px;
  width: 360px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.login-modal h1 {
  margin-bottom: 20px;
}

.login-modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-modal input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border:none;
  border-radius: 4px;
  background-color: #eee;
}

.login-modal input:focus {
  outline: none;
  box-shadow: none;
  border: none; /* ← 이건 선택사항 (기본 border도 없애려면) */
}

.login-modal input::placeholder {
  color: rgba(136,136,136,0.8);
  font-size: 1rem;
  font-weight: 500;
}

.login-submit {
  width: 100%;
  margin: 30px 0;
  padding: 8px;
  background: #22C55E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-text-top {
  color: #22C55E;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.login-text-bottom {
  color: #9d9d9d;
  font-size: 0.9rem;
  font-weight: bold;
}

.login-text-bottom span {
  color: #22C55E;
  margin-left: 15px;
  cursor: pointer;
}

/*로그인실패 모달창 스타일*/
.modal-content {
  background: white;
  padding: 30px 20px 20px 20px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  border-radius: 4px;
}

.modal-content p {
  font-size: 0.9rem;
  margin-bottom:30px;
}

.modal-content button {
  border-radius: 4px;
  margin: 0 auto;
  font-size: 0.8rem;
  border: none;
  padding: 5px 20px;
  background-color: #888;
  color: #fff;
}

/*비밀번호 찾기 모달창 스타일*/
.reset-modal {
  background: white;
  padding: 50px 20px 30px 20px;
  width: 360px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2001;
}

.reset-modal h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.reset-modal div {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-bottom: 30px;
}

.reset-modal p:nth-of-type(1) {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.reset-modal form input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 30px;
  border:none;
  border-radius: 4px;
  background-color: #eee;
}

.reset-modal p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #888;
}

.reset-modal form input:focus {
  outline: none;
  box-shadow: none;
  border: none; /* ← 이건 선택사항 (기본 border도 없애려면) */
}

.reset-modal form input::placeholder {
  color: rgba(136,136,136,0.8);
  font-size: 1rem;
  font-weight: 500;
}

.reset-submit {
  width: 100%;
  margin-top: 20px;
  padding: 8px;
  background: #888;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #22C55E;
  position: absolute;
  top: 18px;
}

/*코멘트 라지 스타일*/
.comment-card {
  width: 900px;
  margin: 20px auto;
  background: #f6f6f6;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: #5e5e64;
  font-weight: 500;
}

.comment-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-date {
  font-size: 0.8rem;
  font-weight: 400;
}

.comment-header-right {
  display: flex;
  gap: 5px;
}

.comment-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-content {
  border-top: 1px solid #d9d9d9 ;
  border-bottom: 1px solid #d9d9d9 ;
  margin: 15px 0;
  padding: 15px 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #5e5e64;
}

.comment-content-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: 400;
}

.comment-content-left {
  width: 50px;
}

.comment-content-left>img{
  width: 100%;
}

.comment-footer {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #666;
}

.comment-footer-top {
  display: flex;
  gap: 5px;
}

.comment-footer-top>p {
  margin-bottom: 15px;
}

.comment-footer-top>p>span{
  padding-left: 5px;
}

.comment-footer-bottom {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

/*코멘트 스몰 스타일*/
.comment-small {
  width: 325px;
}

/*컨텐츠 스와이퍼 스타일*/
.content-swiper {
  width: 100%;
  height: 370px;
  padding: 0 15px !important;
  margin-bottom: 100px;
}

.swiper-slide {
  width: calc(100% / 5);
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}

.slide-image {
  height: 320px;
  border-radius: 5px;
}

.slide-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.slide-contentType {
  font-size: 1rem;
  color: #000;
  left: 0;
  width: 100%;
}

.slide-contentType>p {
  margin-top: 5px;
  margin-bottom: 0;
}

.slide-contentType>span {
  font-size: 0.8rem;
}


.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: rgba(136, 136, 136, 0.6)  !important; /* 원하는 색상으로 변경 가능 */
  border-radius: 50%  !important;
  display: flex  !important;
  right: 0 !important;
  justify-content: center !important;
  align-items: center !important;
  color: #fff !important; /* 화살표 색 */
  transition: background-color 0.3s ease !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8)  !important;; /* 호버 시 색상 변경 */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem  !important;; /* 아이콘 크기 조절 */
}
.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*컬렉션 스와이퍼 스타일*/
.collection-slide-image {
  background-color: #cccccc;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.collection-slide-image>div {
  border-radius: 5px;
  width: calc(50% - 2.5px);
  aspect-ratio: 1 / 1;
}

.collection-slide-image>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.collection-slide-contentType p {
  margin-top: 5px;
  margin-bottom: 0;
}

.collection-slide-contentType p:nth-of-type(2) {
  margin-top: 0;
  color: #888;
  font-size: 0.9rem;
}

/*크레딧카드 스타일*/
.credit {
  flex: 0 0 calc(25% - 20px); /* 한 줄에 4개 (100% / 4 - gap) */
  box-sizing: border-box;
  height: 100%;
}

.credit-image {
  width: 60px;
}

.credit-image img {
  width: 100%;
  max-width: 150px;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.credit-inner {
  display: flex;
  align-items: center;
  gap: 5px;
}

.credit-info {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.credit-info::after {
  content: "";
  position: absolute;
  bottom: 0; /* credit-inner 전체 밑 */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
  /* 이미지 높이만큼 아래로 내리기 */
  transform: translateY(5px);
  pointer-events: none;
}

.credit-info>li>span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #888888;
}

.credit-info>li:nth-of-type(2) {
  font-size: 0.9rem;
  font-weight: 500;
  color: #888888;
}

/*컨텐츠 개별 스타일*/
.content-each{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.content-post {
  width: 100%;
  height: 100%;
}

.content-post>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 170px;
}

.info p {
  margin-bottom: 0;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.rating {
  font-size: 0.8rem;
  font-weight: 400;
}

/*홈페이지 스타일*/

.banner {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  background: #EAEFE9;
  margin-top: 94px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*광고 카드 스타일*/
.ad-card {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  color: white;
}

.ad-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ad-info {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}

.ad-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: black;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
  opacity: 0.85;
}

.ad-tag {
  font-size: 14px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.ad-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.ad-subtitle {
  font-size: 14px;
  opacity: 0.9;
}

.ad-button {
  display: inline-block;
  margin-top: 10px;
  background: white;
  color: black;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

/*홈 컨텐츠 스타일*/
.home-content {
  width: 100%;
  margin-top: 30px;
}

.home-content-title {
  font-size: 1.3rem;
  font-weight: bold;
}

/*컨텐츠 상세페이지 스타일*/
/*컨텐츠 상세페이지 배너 스타일*/
.detail {
  width: 100%;
}

.detail-banner {
  width: 100%;
  position: relative;
  height: 500px;
}

.banner-post {
  width: 100%;
  height: inherit;
}

.banner-post>img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.post-dec {
  width: 100%;
  color: white;
}

.post-dec>ul {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 70%;
  font-size: 0.9rem;
}

.post-dec>ul>li {
  padding-bottom: 5px;
}

.post-dec>ul>li:nth-of-type(1) {
  font-size: 2rem;
  font-weight: bold;
}

/*컨텐츠 상세페이지 컨텐츠정보 스타일*/
.detail-content {
  margin-bottom: 70px;
}

.detail-content-bg {
  background-color: #f6f6f6;
}

.detail-content-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px 12px;
}

.detail-content-inner-poster {
  width: calc(100%/4);
}

.poster-top {
  width: 100%;
  margin-bottom: 25px;
}

.poster-top>img {
  width: 100%;
  display: block;
}

/*별점 그래프*/
.poster-bottom {
  margin: 0;
  padding: 0;
  color: #666;
  width: 100%;
}

.poster-bottom>li:nth-of-type(1) {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.poster-bottom>li:nth-of-type(2) {
  font-weight: bold;
  margin-bottom: 5px;
}

.poster-bottom>li>span {
  font-size: 0.7rem;
}

.rating-graph {
  display: flex;
  width: 100%;
  align-items: flex-end; /* 막대 밑에서부터 쌓이도록 */
  gap: 4px;
}

.rating-graph-wrap {
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
}

.rating-graph-wrap>p {
  margin-bottom: 0;
}

.rating-graph-each {
  min-height: 2px;
  border-radius: 4px;
  background-color: rgba(34,197,94, 0.3);
}

.rating-graph-each-max {
  background-color: #22C55E;
}

.detail-content-inner-info {
  width: 100%;
}

.info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888888;
  padding-bottom: 15px;
}

/* 별 기본 스타일 */
.star {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 32px;
  margin-right: 4px;
}

/* 회색 기본 별 */
.star-base {
  color: lightgray;
}

/* 금색 채워진 별 (반별 표시) */
.star-fill {
  color: #22C55E;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none; /* 클릭 이벤트 방해 안함 */
}

.star i {
  transition: none; /* 부드러운 애니메이션 제거 */
}

.star-text {
  font-size: 0.7rem;
  margin: 0;
  font-weight: 500;
  color: #888888;
}

.info-top-center {
  text-align: center;
}

.info-top-center>p {
  margin: 0;
  color: #888888;
}

.average-rating {
  font-size: 2rem;
}

.average-rating-text {
  font-size: 0.7rem;
}

.info-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.info-top-right>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.info-top-right>li>button {
  margin: 0;
  border: none;
  color: #888888;
  background: none;
}

.info-top-right>li>button>p {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0;
  color: #888888;
}

/*코멘트 모달창*/
.comment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.comment-modal-content {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  width: 600px;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}

.comment-modal-title {
  font-weight: bold;
}

.comment-modal-content>textarea {
  width: 100%;
  border: none;
  outline: none;
}


.info-middle {
  border-bottom: 1px solid #888888;
  padding: 20px 0;
  padding-bottom: 15px;
}


.my-coment {
  font-size: 0.7rem;
  color: #888;
}

.info-bottom {
  padding: 20px 0;
}

/*외부 서비스 링크 스타일*/
.external-services>a {
  display: inline-block;
  width: 60px;
  margin-right: 15px;
  border: 0.5px solid #eee;
  border-radius: 50%;
}

.external-services>a>img {
  width: 100%;
  border-radius: 50%;
}

/*컨텐츠 크레딧 스타일*/

.credit-swiper {
  position: relative; /* 버튼 기준점 */
}

.credit-prev,
.credit-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.credit-prev:hover,
.credit-next:hover {
  background: rgba(0,0,0,0.6);
}

.credit-prev {
  left: -50px;   /* 👉 스와이퍼 밖으로 */
}

.credit-next {
  right: -50px;  /* 👉 스와이퍼 밖으로 */
}

.credit-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 카드 사이 간격 */
  position: relative;
  justify-content: flex-start;
}



/*컨텐츠 갤러리/비디오 스타일*/
.detail-gallary {
  position: relative;
}

.detail-gallary-inner, .detail-video-inner {
  width: 100%;
}

.detail-category {
  font-size: 1.5rem;
  font-weight: bold;
}

.gallary-wrapper, .video-wrapper {
  position: relative ;

}

.gallary-prev,
.gallary-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
}


.video-prev,
.video-next{
  position: absolute !important;
  top: 50%;
  transform: translateY(-80%);
  z-index: 10;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.gallary-prev:hover,
.gallary-next:hover,
.video-prev:hover,
.video-next:hover{
  background: rgba(0,0,0,0.6);
}

.gallary-prev, .video-prev {
  left: -50px;   /* 👉 스와이퍼 밖으로 */
}

.gallary-next, .video-next {
  right: -50px;  /* 👉 스와이퍼 밖으로 */
}

.gallary-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.gallary-modal-content {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  box-sizing: border-box;
  overflow: hidden;
}

.gallary-modal-content img {
  width: 100%;       /* 이미지 가로 꽉 채우기 */
  height: auto;      /* 비율 유지 */
  max-height: 80vh;  /* 너무 크지 않도록 제한 */
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}






/* 📱 반응형 스타일 */

/*노트북 사이즈*/
@media (max-width: 1024px) {
  /*헤더 스타일*/
  .header {
    width: 100%;
  }

  .header_width {
    width: 100%;
  }

  .header_inner {
    width: 100%;
  }

  .nav {
    gap: 20px;
    font-size: 0.95rem;
  }

  .search-bar {
    width: 200px;
  }

}

/*태블릿 사이즈*/
@media (max-width: 768px) {
  /*헤더 스타일*/
  .header_width {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header_inner {
    width: 100%;
    justify-content: end;
    gap: 30px;
  }

  .header_left {
    justify-content: start;
  }

  .nav {
    display: none;
  }

  .dropdown {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .dropdown-menu {
    width: max-content;
    border: 1px solid #eee;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    background: #fff;
    color: rgba(136,136,136,0.5);
    padding: 5px 10px;
  }

  .dropdown-menu li {
    padding: 5px 0;
    color: #000;
  }

  .search-bar {
    width: 180px;
  }

  .search-input {
    width: 100%;
    font-size: 0.8rem;
  }

  .search-button {
    font-size: 1rem;
  }

  .user-menu {
    font-size: 0.8rem;
  }

}

/*모바일 사이즈*/
@media (max-width: 480px) {
  /*헤더 스타일*/
  .header_width {
    width: 100%;
  }

  .logo img {
    max-width: 80px;
  }

  .dropdown {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .dropdown-menu {
    min-width: auto !important;
    width: 100px !important;

  }

  .dropdown-menu li {
    padding: 5px 0;
    font-size: 0.8rem;
    color: #000;
  }

  .search-bar {
    width: 120px;
    padding: 5px;
  }

  .search-input {
    font-size: 0.5rem;
  }

  .search-button {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: #888;
  }

  .user-menu {
    font-size: 0.5rem;
  }

  .user-menu a {
    font-size: 0.5rem;
  }
  /*코멘트 라지 스타일*/

  .comment-card {
    width: 400px;
    margin: 15px auto;
    padding: 20px;
  }

  .comment-header {
    font-size: 0.8rem;
  }

  .comment-date {
    font-size: 0.6rem;
  }

  .comment-profile {
    width: 25px;
    height: 25px;
  }

  .comment-content {
    font-size: 0.7rem;
  }

  .comment-footer {
    font-size: 0.6rem;
  }

  .comment-footer-bottom {
    font-size: 0.8rem;
  }

  /*코멘트 스몰 스타일*/
  .comment-small {
    width: 210px;
  }

}


/*헤더 스크롤시 백그라운드 #fff*/
/*상세페이지 배너 그라데이션*/