.user-detail-page {
  margin-top: 114px;
  max-width: 600px;
}

.user-detail-page-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  margin-bottom: 30px;
}

.user-detail-info {
  padding: 20px 20px 0 20px;
  border-bottom: 12px solid #eeeeee;
  position: relative;
}

.user-detail-info-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-detail-info-profile>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-detail-info-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.user-detail-info-intro {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #888888;
}

.user-detail-info-btn {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.user-detail-info-btn>div {
  width: 100%;
}

.user-detail-info-btn>div>button {
  width: 100%;
  border: none;
  background: #000000;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 0;
}

.user-setting-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.user-setting-btn>button {
  width: 25px;
  height: 25px;
  border: none;
  background: none;
}

.user-setting-btn>button>img {
  display: block;
  width: 100%;
  height: 100%;
}

.user-setting-modal-wrap {
  width: 300px;
  background: #ffffff;
}

.user-setting-modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid #eeeeee;
}

.user-setting-modal-title>p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.user-setting-modal-title>button {
  border: none;
  background: none;
  color: #22c55e;
}

.user-setting-modal-list-wrap {
  padding: 20px;
}

.user-setting-modal-list-wrap>p {
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #888888;
}

.user-setting-modal-list {
  padding-top: 10px;
}

.user-setting-modal-list-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.user-setting-modal-list-content>p {
  margin-bottom: 0;
  color: #555555;
  font-weight: 500;
}

.user-setting-modal-sns-btn {
  position: relative;
}

.user-setting-modal-sns-btn>span:nth-of-type(1) {
  display: block;
  width: 50px;
  height: 20px;
  background: #eeeeee;
  border-radius: 50px;
}

.user-setting-modal-sns-btn>span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background: #ffffff;
  border-radius: 50%;
}

.user-detail-info-group {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  text-align: center;
  border-top: 1px solid #d9d9d9;
}

.user-detail-info-group>div {
  width: calc(100% / 3);
  margin: 15px 0;
}

.user-detail-info-group>div:nth-of-type(1)::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  right: 32%;
  transform: translateY(-50%);
}

.user-detail-info-group>div:nth-of-type(2)::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translateY(-50%);
}

.user-detail-info-group>div>a>p:nth-of-type(1) {
  margin-bottom: 0;
  font-weight: bold;
}

.user-detail-info-group>div>a>p:nth-of-type(2) {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #888888;
}

.my-profile-edit-modal {
  width: 350px;
  background-color: #ffffff;
}

.my-profile-edit-modal-hd {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #d9d9d9;

}

.my-profile-edit-modal>div>p {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.my-profile-edit-close-btn {
  border: none;
  background: none;
  color: #000000;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.my-profile-edit-image-wrap {
  width: 100%;
  padding: 20px;
}

.my-profile-edit-image {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.my-profile-edit-image>label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.my-profile-edit-image>label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
}

.my-profile-edit-image>label>img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.image-input-btn-box {
  width:30px;
}

.image-input-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: inherit;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
  color: #ffffff;
  display: block;
  z-index: 10;
}

.my-profile-edit-image>input {
  display: none;
}

.nickName-input, .introduction-input {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0 10px 0;
}

.input-title {
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: #888888;
  font-weight: bold;
}

.nickName-input>input {
  border: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.nickName-input>input:focus, .introduction-input>textarea:focus {
  border: none;
  outline: none;
}

.introduction-input>textarea {
  border: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
  white-space: nowrap;
  resize: none;
}

.form-btn {
  width: 100%;
  border: none;
  background: #000000;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 0;
  margin-top: 30px;
}

.user-detail-collection {
  padding: 20px;
  border-bottom: 12px solid #eeeeee;
}

.user-detail-collection>p {
  font-size: 1.1rem;
  font-weight: bold;
}

.user-detail-collection-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}

.user-detail-collection-wrap>div {
  width: calc(100% / 5);
}

.user-detail-collection-content>a>div {
  margin-bottom: 10px;

}

.user-detail-collection-content>a>div>i {
  background-color: #eeeeee;
  padding: 15px 16px;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #888888;
  display: inline-block;
  line-height: 1;
}

.user-detail-collection-content>a>div>i::after {
  display: block;
}

.user-detail-collection-content>a>p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.user-detail-like {
  padding: 20px;
}

.user-detail-like>p {
  font-size: 1.1rem;
  font-weight: bold;
}

.user-detail-like-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  margin: 10px 0;
  padding-bottom: 10px;
}

.user-detail-like-list:nth-of-type(3) {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.user-detail-like-list>div {
  font-weight: 600;
}

.user-detail-like-list>div>span {
  font-weight: normal;
  padding-left: 5px;
  color: #888888;
}

.user-detail-like-list>button {
  border: none;
  background: none;
}

/*모바일 사이즈*/
@media (max-width: 480px) {
  .user-detail-page {
    margin-top: 0;
    margin-bottom: 50px;
    width: 100% !important;
    padding: 0;
  }

  .user-detail-page-wrap {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
}