.user-collection-page {
    margin-top: 114px;
    width: 100%;
}

.user-collection-page-wrap {
    max-width: 700px;
}

.user-collection-page-wrap-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.user-collection-page-wrap-title>h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

.user-collection-page-wrap-title>a {
    border: none;
    background: none;
    font-size: 0.9rem;
    color: #22C55E;
}

.user-collection-list-btn {
    text-align: center;
    margin: 20px 0;
}

.user-collection-list-btn>button {
    border: 1px solid #888888;
    background: none;
    color: #555555;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.user-collection-list-btn>button:hover {
    background: #d9d9d9;
}

/*태블릿 사이즈*/
@media (max-width: 768px) {
    .user-collection-page {
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .user-collection-page .container {
        max-width: 95% !important;
    }
}

/*모바일 사이즈*/
@media (max-width: 480px) {
    .user-collection-page {
        margin-top: 20px;
    }

    .user-collection-page-wrap-title {
        margin-bottom: 20px;
    }
}



